engine-strict=true
legacy-peer-deps=true
auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
shamefully-hoist=true
registry=https://registry.npmjs.org/
network-timeout=100000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000 